@import "./colors";
@import "./font";
@import "./vertical-line";

body {
    background: radial-gradient(circle, #021740, #0e1626, #0e1626, #071e31);
    color: white;
    font-family: $Cantarell;
    overflow-x: hidden;
}

.separator {
    padding:100px;
}

@import "./header";
@import "./pages";
@import "./footer";
@import "./animation";